<html lang="pt-br"
      xmlns:th="https://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task List</title>
</head>
<body>
    <h1>Tasks</h1>

    <table>
        <thead>
        <tr>
            <th>Task</th>
            <th>Due date</th>
            <th>Due time</th>
            <th>Tag</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${allTasks}">
            <td th:text="${task.description}"></td>
            <td th:text="${task.dueDate}"></td>
            <td th:text="${task.dueTime}"></td>
            <td th:text="${task.tag}"></td>
            <td th:text="${task.done}"></td>
            <td>
                <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Edit</a>
                <form method="post" action="/tasks" onsubmit="return confirm('Are you sure?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="submit" value="X">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>